# APRIORI ALGO

In [63]:
#pip install mlxtend

In [68]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

# making each customers shopping items an identical list
trans = []
for i in range(0, 7501):
    trans.append([str(data.values[i,j]) for j in range(0, 20)])

# conveting it into an numpy array
trans = np.array(trans)

# checking the shape of the array
print(trans.shape)

In [71]:
dataset = [
            ['whole milk','butter', 'chocolate', 'pastry' , 'Eggs' , 'Yogurts'],
            ['ballons','butter', 'chocolate', 'pastry' , 'Eggs' , 'Yogurts'],
            ['whole milk','Apple', 'pastry' , 'Eggs' ],
            ['whole milk','Unicorn', 'Corn', 'pastry'  , 'Yogurts'],
            ['Corn','butter', 'cake', 'pastry' , 'Ice creams' , 'Eggs']
    
            ]

In [72]:
#import warnings
#warnings.filterwarnings('ignore')

In [73]:
dataset

[['whole milk', 'butter', 'chocolate', 'pastry', 'Eggs', 'Yogurts'],
 ['ballons', 'butter', 'chocolate', 'pastry', 'Eggs', 'Yogurts'],
 ['whole milk', 'Apple', 'pastry', 'Eggs'],
 ['whole milk', 'Unicorn', 'Corn', 'pastry', 'Yogurts'],
 ['Corn', 'butter', 'cake', 'pastry', 'Ice creams', 'Eggs']]

#fit and transform method

In [74]:
te = TransactionEncoder()

In [75]:
te

TransactionEncoder()

In [76]:
te_ary = te.fit(dataset).transform(dataset)

In [77]:
te_ary

array([[False, False,  True, False, False,  True, False,  True, False,
         True,  True,  True],
       [False, False,  True, False, False,  True,  True,  True, False,
         True,  True, False],
       [ True, False,  True, False, False, False, False, False, False,
        False,  True,  True],
       [False,  True, False, False,  True,  True, False, False, False,
        False,  True,  True],
       [False,  True,  True,  True, False, False, False,  True,  True,
        False,  True, False]])

In [78]:
df = pd.DataFrame(te_ary, columns = te.columns_)

In [79]:
df

,Apple,Corn,Eggs,Ice creams,Unicorn,Yogurts,ballons,butter,cake,chocolate,pastry,whole milk
0,False,False,True,False,False,True,False,True,False,True,True,True
1,False,False,True,False,False,True,True,True,False,True,True,False
2,True,False,True,False,False,False,False,False,False,False,True,True
3,False,True,False,False,True,True,False,False,False,False,True,True
4,False,True,True,True,False,False,False,True,True,False,True,False

In [80]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori (df ,min_support = 0.6 , use_colnames=True)
frequent_itemsets

    support                itemsets
0       0.8                  (Eggs)
1       0.6               (Yogurts)
2       0.6                (butter)
3       1.0                (pastry)
4       0.6            (whole milk)
5       0.6          (butter, Eggs)
6       0.8          (Eggs, pastry)
7       0.6       (Yogurts, pastry)
8       0.6        (butter, pastry)
9       0.6    (whole milk, pastry)
10      0.6  (butter, Eggs, pastry)

# Association Rule Mining

In [81]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets, metric =  "confidence" , min_threshold = 0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(butter),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
1,(Eggs),(butter),0.8,0.6,0.6,0.75,1.25,0.12,1.6
2,(Eggs),(pastry),0.8,1.0,0.8,1.00,1.00,0.00,inf
3,(pastry),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
4,(Yogurts),(pastry),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(butter),(pastry),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(whole milk),(pastry),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(butter, Eggs)",(pastry),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(butter, pastry)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
9,"(Eggs, pastry)",(butter),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(butter),"(Eggs, pastry)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(butter, pastry)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [82]:
res1 =res[  [ 'antecedents', 'consequents', 'support', 'confidence', 'lift']]
res1

         antecedents       consequents  support  confidence  lift
0           (butter)            (Eggs)      0.6        1.00  1.25
1             (Eggs)          (butter)      0.6        0.75  1.25
2             (Eggs)          (pastry)      0.8        1.00  1.00
3           (pastry)            (Eggs)      0.8        0.80  1.00
4          (Yogurts)          (pastry)      0.6        1.00  1.00
5           (butter)          (pastry)      0.6        1.00  1.00
6       (whole milk)          (pastry)      0.6        1.00  1.00
7     (butter, Eggs)          (pastry)      0.6        1.00  1.00
8   (butter, pastry)            (Eggs)      0.6        1.00  1.25
9     (Eggs, pastry)          (butter)      0.6        0.75  1.25
10          (butter)    (Eggs, pastry)      0.6        1.00  1.25
11            (Eggs)  (butter, pastry)      0.6        0.75  1.25

In [83]:
res2 = res1[res1['confidence'] >=1]
res2

         antecedents     consequents  support  confidence  lift
0           (butter)          (Eggs)      0.6         1.0  1.25
2             (Eggs)        (pastry)      0.8         1.0  1.00
4          (Yogurts)        (pastry)      0.6         1.0  1.00
5           (butter)        (pastry)      0.6         1.0  1.00
6       (whole milk)        (pastry)      0.6         1.0  1.00
7     (butter, Eggs)        (pastry)      0.6         1.0  1.00
8   (butter, pastry)          (Eggs)      0.6         1.0  1.25
10          (butter)  (Eggs, pastry)      0.6         1.0  1.25